-- Fonctions d'agr├®gats admin (donn├®es r├®elles) : activit├®, projets,
-- transactions, journal des pi├¿ces. Toutes prot├®g├®es par is_current_admin().

CREATE OR REPLACE FUNCTION public.is_current_admin()
RETURNS boolean
LANGUAGE sql
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (SELECT 1 FROM public.profiles WHERE id = auth.uid() AND role = 'admin')
    OR COALESCE((SELECT email FROM auth.users WHERE id = auth.uid()), '') = 'www.martau@gmail.com';
$$;

-- S├®rie d'activit├® des 14 derniers jours (pour le graphe de la vue d'ensemble).
CREATE OR REPLACE FUNCTION public.get_admin_activity()
RETURNS jsonb
LANGUAGE plpgsql SECURITY DEFINER SET search_path = public
AS $$
DECLARE result jsonb;
BEGIN
  IF NOT public.is_current_admin() THEN RAISE EXCEPTION 'forbidden'; END IF;
  SELECT COALESCE(jsonb_agg(row ORDER BY (row->>'day')), '[]'::jsonb) FROM (
    SELECT jsonb_build_object(
      'day', gs::date,
      'signups', (SELECT count(*) FROM public.profiles WHERE created_at::date = gs::date),
      'revenue', (SELECT COALESCE(sum(amount),0) FROM public.transactions WHERE status='paid' AND created_at::date = gs::date),
      'actions', (SELECT count(*) FROM public.ai_usage WHERE created_at::date = gs::date),
      'coins', (SELECT COALESCE(sum(amount),0) FROM public.coin_transactions WHERE type='debit' AND created_at::date = gs::date)
    ) AS row
    FROM generate_series((now()::date - interval '13 days'), now()::date, interval '1 day') gs
  ) x INTO result;
  RETURN result;
END; $$;

-- Tous les projets (tous utilisateurs) avec auteur, chapitres, mots, pi├¿ces.
CREATE OR REPLACE FUNCTION public.get_admin_projects()
RETURNS jsonb
LANGUAGE plpgsql SECURITY DEFINER SET search_path = public
AS $$
DECLARE result jsonb;
BEGIN
  IF NOT public.is_current_admin() THEN RAISE EXCEPTION 'forbidden'; END IF;
  SELECT COALESCE(jsonb_agg(row ORDER BY (row->>'updated_at') DESC), '[]'::jsonb) FROM (
    SELECT jsonb_build_object(
      'id', p.id, 'title', p.title, 'status', p.status,
      'created_at', p.created_at, 'updated_at', p.updated_at,
      'author_email', u.email, 'author_name', pr.full_name,
      'chapters', COALESCE(ch.cnt, 0), 'words', COALESCE(ch.words, 0),
      'coins_spent', COALESCE(cs.spent, 0)
    ) AS row
    FROM public.projects p
    LEFT JOIN auth.users u ON u.id = p.user_id
    LEFT JOIN public.profiles pr ON pr.id = p.user_id
    LEFT JOIN (SELECT project_id, count(*) cnt, sum(word_count) words FROM public.chapters GROUP BY project_id) ch ON ch.project_id = p.id
    LEFT JOIN (
      SELECT (ct.metadata->>'project_id') AS pid, sum(ct.amount) AS spent
      FROM public.coin_transactions ct
      WHERE ct.type='debit' AND (ct.metadata ? 'project_id')
      GROUP BY 1
    ) cs ON cs.pid = p.id::text
    LIMIT 500
  ) x INTO result;
  RETURN result;
END; $$;

-- Transactions r├®centes enrichies.
CREATE OR REPLACE FUNCTION public.get_admin_transactions()
RETURNS jsonb
LANGUAGE plpgsql SECURITY DEFINER SET search_path = public
AS $$
DECLARE result jsonb;
BEGIN
  IF NOT public.is_current_admin() THEN RAISE EXCEPTION 'forbidden'; END IF;
  SELECT COALESCE(jsonb_agg(row ORDER BY (row->>'created_at') DESC), '[]'::jsonb) FROM (
    SELECT jsonb_build_object(
      'id', t.id, 'amount', t.amount, 'currency', t.currency, 'plan_id', t.plan_id,
      'status', t.status, 'provider_reference', t.provider_reference, 'created_at', t.created_at,
      'email', u.email, 'name', pr.full_name
    ) AS row
    FROM public.transactions t
    LEFT JOIN auth.users u ON u.id = t.user_id
    LEFT JOIN public.profiles pr ON pr.id = t.user_id
    ORDER BY t.created_at DESC LIMIT 100
  ) x INTO result;
  RETURN result;
END; $$;

-- Journal des mouvements de pi├¿ces (cr├®dits achats / d├®bits usage).
CREATE OR REPLACE FUNCTION public.get_admin_ledger()
RETURNS jsonb
LANGUAGE plpgsql SECURITY DEFINER SET search_path = public
AS $$
DECLARE result jsonb;
BEGIN
  IF NOT public.is_current_admin() THEN RAISE EXCEPTION 'forbidden'; END IF;
  SELECT COALESCE(jsonb_agg(row ORDER BY (row->>'created_at') DESC), '[]'::jsonb) FROM (
    SELECT jsonb_build_object(
      'id', ct.id, 'type', ct.type, 'amount', ct.amount, 'description', ct.description,
      'created_at', ct.created_at, 'email', u.email, 'name', pr.full_name
    ) AS row
    FROM public.coin_transactions ct
    JOIN public.wallets w ON w.id = ct.wallet_id
    LEFT JOIN auth.users u ON u.id = w.user_id
    LEFT JOIN public.profiles pr ON pr.id = w.user_id
    ORDER BY ct.created_at DESC LIMIT 100
  ) x INTO result;
  RETURN result;
END; $$;

GRANT EXECUTE ON FUNCTION public.is_current_admin() TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_admin_activity() TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_admin_projects() TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_admin_transactions() TO authenticated;
GRANT EXECUTE ON FUNCTION public.get_admin_ledger() TO authenticated;
